<h3>Importar Librerias</h3>

In [1]:
#Instalacin de Librerias

!pip install tabulate

#Llamado de Librerias
import numpy as  np
import pandas as pd
import sklearn as skl
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from tabulate import tabulate
import matplotlib.image as mpimg

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, precision_score, make_scorer, roc_curve, auc
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score


import warnings
warnings.filterwarnings('ignore')

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in c:\users\nayi_\appdata\roaming\python\python312\site-packages (0.9.0)

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

<h3>Entendimiento de los Datos Iniciales</h3>

In [6]:
Stats_Defensive = pd.read_csv("../data/Career_Stats_Defensive.csv")
Stats_Defensive.head()

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
1,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--
2,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--
3,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--
4,quinnjohnson/79593,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--

In [9]:
Stats_Punting = pd.read_csv("../data/Career_Stats_Punting.csv")
Stats_Punting.head()

,Player Id,Name,Position,Year,Team,Games Played,Punts,Gross Punting Yards,Net Punting Yards,Longest Punt,...,Net Punting Average,Punts Blocked,Out of Bounds Punts,Downed Punts,Punts Inside 20 Yard Line,Touchbacks,Fair Catches,Punts Returned,Yards Returned on Punts,TDs Returned on Punt
0,davebaker/2508869,"Baker, Dave",NaN,1961,San Francisco 49ers,14,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
1,davebaker/2508869,"Baker, Dave",NaN,1960,San Francisco 49ers,12,3,143,--,--,...,--,0,--,--,--,--,--,--,--,--
2,davebaker/2508869,"Baker, Dave",NaN,1959,San Francisco 49ers,12,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
3,jasonbaker/2504395,"Baker, Jason",NaN,2011,Carolina Panthers,16,66,"2,819","2,253",56,...,34.1,0,0,11,19,5,15,35,466,3
4,jasonbaker/2504395,"Baker, Jason",NaN,2010,Carolina Panthers,16,95,"4,097","3,469",60,...,36.5,0,8,10,22,7,16,54,488,1

In [ ]:
Stats_Punting = pd.read_csv("../data/Career_Stats_Field_Goal_Kickers.csv")
Stats_Punting.head()